body {
  background: #F4ECDC;
  font-family: 'Inter', sans-serif;
  margin: 0px;
  width: 100%;
}

button {
  color: #F4ECDC;
  cursor: pointer;
  border: none;
}

span {
  color:#170F3D;
  font-weight: bolder;
}

.login-page {
  background-color: #170F3D;
}
nav {
  height: 30vh;
  background-color: #F1CB86;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 5px;
} 

h1 {
  font-family: 'Kalam', cursive;
  font-size: 36px;
  margin: 0px;
}

.catchphrase {
  font-size: x-small;
  margin: 0px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav-menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-dropdown {
  width: 7vw;
}

.profile-button {
  color: black;
  background-color: #F1CB86;
  height: 5vh;
  width: 100%;
  transition: display 0.4s;
}

.active, 
.profile-button:hover {
  background-color: rgb(23, 15, 61, .66);
}

.logout-panel {
  background-color: rgb(23, 15, 61, .66);
  padding: 0 18px;
  height: 5vh;
  width: 100%;
  transition: display 0.4s;
  display: none;
  overflow: hidden;
}


.logo {
  width: 13vw;
  height: 24vh;
  margin-right: 5px;
}

.avatar {
  width: 1vw;
  height: 2vh;
}

.filter-content {
  font-size: x-small;
}
.filters {
  width: 15px;
  font-size: small;
  background-color: #F1CB86;
  border: none;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  background-color: #F1CB86;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 70vh;
}

.traveler-input {
  width: 34px;
}

.destinations {
  width: 15vw;
}

.flip-box {
  width: 95%;
  background: #F4ECDC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  background-color: #170F3D;
  font: #F4ECDC;
}

.cards-display {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.card {
  height: 30vh;
  width: 20vw;
  
}

.card-header {
  background-size: cover;
  height: 50%;
  text-align: center;
}

.show {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}